---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

// 🔹 Genera todas las rutas estáticas y pasa las colecciones pre-cargadas
export async function getStaticPaths() {
  const epistolas = await getCollection("epistolas");
  const itemCollections = await getCollection("itemCollections");

  return epistolas.map((epistola) => {
    let collectionData = null;

    if (epistola.data.itemCollection) {
      collectionData = itemCollections.find(
        (col) =>
          col.collection === epistola.data.itemCollection.collection &&
          col.id === epistola.data.itemCollection.id,
      );
    }

    return {
      params: { id: epistola.id },
      props: { epistola, collectionData },
    };
  });
}

const { epistola, collectionData } = Astro.props;
---

<Layout title={epistola.data.title}>
  {
    collectionData && (
      <section class="py-4 px-6">
        <div
          class="sticky top-12 z-50 px-1 py-0.5
         rounded text-cyan-600"
        >
          <h1>{epistola.data.title}</h1>
          <p>{epistola.data.description}</p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 place-items-start space-y-10 md:space-y-0 md:space-x-10">
          {collectionData.data.images.map((item) => (
            <div>
              <h2>{item.title}</h2>
              <Image src={item.imageRoute} alt={item.title} />
              <p>{item.description}</p>
            </div>
          ))}
        </div>
      </section>
    )
  }
</Layout>
